* {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.navigation__styling {
  background-color: #33292a;
  height: 5rem;
}

.fa-bars {
  display: block;
  text-align: right;

  color: white;
  padding: 1rem;
  cursor: pointer;
}

.unorderedList__styling {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .unorderedList__styling {
    display: none;
  }
}

.div__hero__section__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.div__hero__text {
  position: absolute;
  margin: 0 auto;
  color: white;
  width: 3rem;
  position: relative;
  right: -20%;
  bottom: -65%;
}

.heading1_styling {
  text-align: right;
}

.div__about__section {
  padding: 3rem 1.5rem;
}

.heading1__about_us {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.paragraph__about_us {
  line-height: 1.5;
  size: 16px;
  font-weight: 400;
}

.div__what__we__do__section {
  display: flex;
  flex-direction: column;
  background-color: #33292a;
  color: white;
  padding: 3rem 1.5rem;
  text-align: center;
}

.heading1__what_we_do {
  margin: 1rem;
}

.paragraph__what_we_do {
  line-height: 1.5;
}

.what__we__do__icons {
  margin: 2rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
}

.fas {
  color: white;
  font-size: 5rem;
  margin: 1rem 0rem;
}
.paragraph_icon_hiking {
  font-size: 20px;
  margin: 1rem 0rem 0rem 0rem;
}
.paragraph_icon_cycling {
  font-size: 20px;
  margin: 1rem 0rem 0rem 0rem;
}
.paragraph_icon_surfing {
  font-size: 20px;
  margin: 1rem 0rem 0rem 0rem;
}
.paragraph_icon_car_trips {
  font-size: 20px;
  margin: 1rem 0rem 0rem 0rem;
}

.div__gallery__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem 0rem;
}

.div_heading2_our_trips {
  width: 85vw;
  background-color: #f2f2f2;
  text-align: center;
}

.heading2--our__trips {
  margin: 2rem 0rem;
}

.img-- {
  width: 85vw;
}

.div__contact__section {
  padding: 3rem 1.5rem;
  color: white;
  background-color: #644b4f;
}

.heading2--where__go {
  margin: 0rem 0rem 2rem 0rem;
}

.paragraph__where__go {
  line-height: 1.5;
  font-size: 19px;
}

.paragraph__contact_us {
  margin: 1rem 0rem 3.5rem 0rem;
}

.button__contact__us {
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.div__reviews__section {
  margin: 5rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading2--reviews {
  margin-bottom: 2rem;
}

.paragraph__reviews1 {
  margin-bottom: 5rem;
}

.paragraph__reviews2 {
  margin-bottom: 5rem;
}

.reviews1 {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin-bottom: 2rem;
}
.reviews2 {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.div__footer {
  text-align: center;
  color: white;
  background-color: #333333;
}

.anchor__styling {
  color: #efa69d;
  transition: color 0.3s;
}

.anchor__styling:hover {
  color: #e9877b;
}
