* {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.navigation__styling {
  background-color: #33292a;
  padding: 1rem;
}

.div--burger_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .div--burger_menu {
    display: none;
  }
}

.bar--1 {
  background-color: white;
  width: 45px;
  height: 5px;
  border-radius: 20px;
  margin: 5px 0px;
}
.bar--2 {
  background-color: white;
  width: 45px;
  height: 5px;
  border-radius: 20px;
  margin: 5px 0px;
}
.bar--3 {
  background-color: white;
  width: 45px;
  height: 5px;
  border-radius: 20px;
  margin: 5px 0px;
}

.unorderedList__styling {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  color: white;
  list-style: none;
  padding: 0rem;
  margin: 0 auto;
  width: 80%;
  gap: 0.5rem;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
}

@media screen and (max-width: 767px) {
  .unorderedList__styling {
    display: none;
  }
}

.div__hero__section__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.div__hero__text {
  position: absolute;
  margin: 0 auto;
  color: white;
  width: 3rem;
  /* position: relative; */
  right: 35%;
  bottom: 10%;
}

.heading1_styling {
  text-align: right;
  font-size: clamp(2rem, 5vw, 10rem);
  width: fit-content;
}

.div__about__section {
  padding: 3rem 1.5rem;
}

.heading1__about_us {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.paragraph__about_us {
  line-height: 1.5;
  size: 16px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.nature0 {
  display: block;
  width: 80vw;
}

@media screen and (min-width: 1024px) {
  .div__about__section {
    display: flex;
    width: 60%;
    height: 80vh;
    align-items: center;
  }

  .heading_paragraph_div {
    margin-right: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70rem;
  }

  .heading1__about_us {
    flex-direction: column;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .paragraph__about_us {
    flex-direction: column;
    line-height: 1.5;
    font-size: clamp(0.9rem, 1vw, 2rem);
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .nature0 {
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 5rem; */
  }

  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 80rem;
  }
}

.div__what__we__do__section {
  display: flex;
  flex-direction: column;
  background-color: #33292a;
  color: white;
  padding: 3rem 1.5rem;
  text-align: center;
}

.heading1__what_we_do {
  margin: 1rem;
}

.paragraph__what_we_do {
  line-height: 1.5;
  width: 90%;
}

.what__we__do__icons {
  margin: 2rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
}

.fas {
  color: white;
  font-size: 5rem;
  margin: 1rem 0rem;
}
.paragraph_icon_hiking {
  font-size: 20px;
  margin: 1rem 0rem 0rem 0rem;
}
.paragraph_icon_cycling {
  font-size: 20px;
  margin: 1rem 0rem 0rem 0rem;
}
.paragraph_icon_surfing {
  font-size: 20px;
  margin: 1rem 0rem 0rem 0rem;
}
.paragraph_icon_car_trips {
  font-size: 20px;
  margin: 1rem 0rem 0rem 0rem;
}

@media screen and (min-width: 1024px) {
  .div__what__we__do__section {
    align-items: center;
  }

  .paragraph__what_we_do {
    line-height: 1.5;
    width: 60%;
    font-size: clamp(0.9rem, 1vw, 2rem);
  }
  .what__we__do__icons {
    margin: 2rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
  }
}

.div__gallery__section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem 1rem;
  width: 90%;
}

.div_heading2_our_trips {
  width: 85vw;
  background-color: #f2f2f2;
  text-align: center;
}

.heading2--our__trips {
  margin: 2rem 0rem;
}

.nature {
  max-width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .div__gallery__section {
    align-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 30%;
    height: 35rem;
    flex-basis: auto;
  }

  .div_heading2_our_trips {
    width: 5rem;
    height: 11rem;
    background-color: #f2f2f2;
    text-align: center;
  }

  .div__gallery__item {
    flex-basis: calc(100% / 3 - 7px);
    height: calc(100% / 3 - 7px);
  }

  .nature {
    object-fit: cover;
    /* max-width: 70%; */
    /* background-size: cover; */
  }
}

.div__contact__section {
  padding: 3rem 1.5rem;
  color: white;
  background-color: #644b4f;
}

.heading2--where__go {
  margin: 0rem 0rem 2rem 0rem;
}

.paragraph__where__go {
  line-height: 1.5;
  font-size: 19px;
}

.paragraph__contact_us {
  margin: 1rem 0rem 3.5rem 0rem;
}

.button__contact__us {
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: none;
}

.div__reviews__section {
  margin: 5rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading2--reviews {
  margin-bottom: 2rem;
}

.paragraph__reviews1 {
  margin-bottom: 1rem;
}

.paragraph__reviews2 {
  margin-bottom: 2rem;
}
.paragraph__reviews3 {
  margin-bottom: 2rem;
}

.paragraph__user_name1 {
  font-weight: bold;
}
.paragraph__user_name2 {
  font-weight: bold;
  margin-bottom: 4rem;
}

.img__div_review1 {
  background-image: url(/assets/kalen-emsley-kGSapVfg8Kw-unsplash.jpg);
  height: 10rem;
  width: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 3rem auto;
}

.img__div_review2 {
  background-image: url(/assets/jeffrey-keenan-pUhxoSapPFA-unsplash.jpg);
  height: 10rem;
  width: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin: 3rem auto;
}

.imgs__footer {
  /* margin: 0rem;
  padding: 0rem;
  width: 100%; */
}

.footer__gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer_img1 {
  width: 100%;
}
.footer_img2 {
  width: 100%;
}
.footer_img3 {
  width: 100%;
}
.footer_img4 {
  width: 100%;
}

.div__footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: #333333;
  padding: 2rem;
}

.anchor__styling {
  color: #efa69d;
  transition: color 0.3s;
}

.anchor__styling:hover {
  color: #e9877b;
}
